/*Font*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*::before,
*::after,
*,
body,
p,
div,
span,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
<<<<<<< HEAD
=======
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}
.container1 {
  position: relative;
}
#MyVideo {
  max-width: 100%;
  max-height: 100%;
}
.content {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.paper {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.69);
}
.title-1 {
  font-size: 80px;
  font-weight: bold;
  color: white;
}
.sentence {
  display: block;
  color: white;
  text-align: center;
  font-size: 20px;
}
>>>>>>> 7c3e68d1e9e285f4e2fa4512e84ad4f28a3c7391
.navbar {
  background-color: black;
  height: 12%;
  color: white;
<<<<<<< HEAD
  padding: 0;
}
.nav-logo{
  width: 5%;
  border-radius: 50%;
  cursor: pointer;
}
.nav-list{
 display: flex;
 flex-direction: row;
 list-style-type: none;
 align-items: center;
 margin: 0;
 padding: 0;
 font-size: 1.15em;
 justify-content:space-evenly;
 width: 80%;
}
.nav-content{
  margin: auto;
  height: 100%;
}
.navbar-wrapper{
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.nav-text{
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.login-btn{
  border: 2px solid white; 
  background: none;
  color:white;
  font-size: 1.15em;
  font-weight: bold;
}
.login-btn:hover{
  color:black;
=======
>>>>>>> 7c3e68d1e9e285f4e2fa4512e84ad4f28a3c7391
}
